/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 150%;
  color: #333;
  background: #f5c8bc;
}

h1,
h2,
h3 {
  color: #d80909;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 36px;
  text-align: left;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

/* Selecting elements by class */

.jumbotron {
  padding: 2rem 1rem; 
  margin-bottom: 2rem; 
  background-color: #e9ecef; 
  border-radius: .3rem;
}

.main-content, 
.sidebar {
  position: relative;
  margin-top: 50px;
  background: white;
  padding: 30px;
}


/* Responsive table container for data table 
   to avoid overrun on smaller resolutions */
.table-responsive {
  overflow-y: scroll;
  height: 500px;
}

/* Column headers to remain visible all the time */
.table-responsive thead th {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px;
  border-color: black;
}

